<template>
  <button :class="classList">
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: {
    secondary: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    classList() {
      return {
        primary: !this.secondary,
        secondary: this.secondary
      };
    }
  }
};
</script>

<style lang="scss" scoped>
button {
  &.primary {
    background-color: black;
    color: white;
  }

  &.secondary {
    background-color: yellow;
    color: black;
  }
}
</style>
